# Purpose

This Jupyter notebook will contain the methods used to create a final company list with the names and stock symbols of all companies.

In [1]:
import pandas as pd

In [2]:
# 2016 cumulative (cleaned) data from Emad does not have the stock symbol information, but the new data from 2017-18 does.
sec2016_our_data = pd.read_csv('sec_company_list_with_matches_no_duplicates.csv', header=None, usecols=[1])
print("The shape of our data is", sec2016_our_data.shape) # implies we have 3909 companies
sec2016_our_data.sample(10)

The shape of our data is (3910, 1)

                                      1
606                 Bullfrog Gold Corp.
3411                       TELULAR CORP
1594      German American Bancorp, Inc.
1623                          Graco Inc
3347              SuperDirectories Inc.
1139              Dover Motorsports Inc
3451          Tandy Leather Factory Inc
1413  First Cash Financial Services Inc
2048            LIFE TIME FITNESS, INC.
3470           TeleCheck Services, Inc.

In [3]:
# we need to match the 2016 data with the given SEC list with all the information
sec2016_raw = pd.read_csv('SEC_2016_cumulative.csv')
sec2016_raw.sample(10)

              cik               companyName stockSymbol
7202   0001103783      REDIFF COM INDIA LTD        redf
1435   0000080424       Procter & Gamble Co          pg
11143  0001510524              Graystone Co        gyst
11507  0001328003         Redpoint Bio CORP        rpbc
8472   0001169567   OXFORD TECHNOLOGIES INC         NaN
10962  0001514149         Billet Finder Inc        bltf
5959   0001456857         MJ Holdings, Inc.        mjne
6351   0001617667                 Neff Corp        neff
1323   0001053532  LaSalle Hotel Properties         lho
9784   0001705110    ANGI Homeservices Inc.        angi

In [4]:
merged = pd.merge(sec2016_our_data, sec2016_raw, left_on=1, right_on='companyName')
print("The shape is of the merged data is", merged.shape) # we have 3896 companies
merged.sample(20)

The shape is of the merged data is (3897, 4)

,1,cik,companyName,stockSymbol
1009,Cumulus Media Inc,0001058623,Cumulus Media Inc,cmls
25,AECOM,0000868857,AECOM,acm
878,"Citizens Bank, N.A.",cr3303298,"Citizens Bank, N.A.",NaN
3889,"mCig, Inc.",0001525852,"mCig, Inc.",mcig
1442,Five Star Quality Care Inc,0001159281,Five Star Quality Care Inc,fve
77,AMERON INTERNATIONAL CORP,0000790730,AMERON INTERNATIONAL CORP,NaN
2962,Regal Entertainment Group,0001168696,Regal Entertainment Group,rgc
940,"Confederate Motors, Inc.",0001346346,"Confederate Motors, Inc.",cfed
1921,Ion Geophysical Corp,0000866609,Ion Geophysical Corp,io
3032,Ryland Group Inc,0000085974,Ryland Group Inc,ryl
2895,RAINMAKER SYSTEMS INC,0001094007,RAINMAKER SYSTEMS INC,vctl
1463,Fmc Technologies Inc,0001135152,Fmc Technologies Inc,fti
1722,Helios & Matheson Analytics Inc.,0001040792,Helios & Matheson Analytics Inc.,hmny
2514,Nidec Corp,0001158967,Nidec Corp,nj
2398,NATIONAL FINANCIAL PARTNERS CORP,0001183186,NATIONAL FINANCIAL PARTNERS CORP,nfp
3119,"SUNEDISON, INC.",0000945436,"SUNEDISON, INC.",sune
3536,"TripAdvisor, Inc.",0001526520,"TripAdvisor, Inc.",trip
1778,IMPINJ INC,0001114995,IMPINJ INC,pi
441,BJs RESTAURANTS INC,0001013488,BJs RESTAURANTS INC,bjri
3513,"Toughbuilt Industries, Inc",0001668370,"Toughbuilt Industries, Inc",NaN

In [5]:
# we are missing 13 companies after the merge. what are they?
outer_join = pd.merge(sec2016_our_data, merged, how='outer', on=[1, 1], indicator=True)
print("The shape of all outer join combined data is", outer_join.shape)
outer_join.sample(10)

The shape of all outer join combined data is (3916, 5)

,1,cik,companyName,stockSymbol,_merge
3855,Xilinx Inc,0000743988,Xilinx Inc,xlnx,both
2187,MERISEL INC /DE/,0000724941,MERISEL INC /DE/,NaN,both
3221,"Sigma Labs, Inc.",0000788611,"Sigma Labs, Inc.",sglb,both
3378,Synchrony Financial,0001601712,Synchrony Financial,syf,both
2852,"Protea Biosciences Group, Inc.",0001335103,"Protea Biosciences Group, Inc.",prgb,both
3528,"Toughbuilt Industries, Inc",0001668370,"Toughbuilt Industries, Inc",NaN,both
2192,METROPOLITAN COMMERCIAL BANK,NaN,METROPOLITAN COMMERCIAL BANK,mcb_priv,both
289,Anadigics Inc,0000940332,Anadigics Inc,anad,both
1361,FIRST PRIORITY FINANCIAL CORP.,0001389772,FIRST PRIORITY FINANCIAL CORP.,fpbk,both
142,Abiomed Inc,0000815094,Abiomed Inc,abmd,both

In [6]:
missing = outer_join.loc[outer_join._merge == 'left_only', [1, 'cik', 'companyName', 'stockSymbol']]
print("The shape of only the missing data is", missing.shape)
missing.sample(19)

The shape of only the missing data is (19, 4)

,1,cik,companyName,stockSymbol
2963,Realtek Semiconductor Corp (Ô_¾÷±Œ_Œ¡_ŽÇÓ),NaN,NaN,NaN
2156,"MACRONIX INTERNATIONAL CO., LTD. (¾Ñ¼Œ¨ŽÝÈŒ_)",NaN,NaN,NaN
3172,Scientech Corporation (_ÝÛ÷Š_¾´_),NaN,NaN,NaN
2313,MediaTek Inc. (øª_¤Ô¾_Û),NaN,NaN,NaN
3064,SDI CORPORATION (ŽÊ Œ_áŒá´¾´_),NaN,NaN,NaN
3669,"VIA TECHNOLOGIES, INC. (Œ¬ÝÝŽÝÈŒ_)",NaN,NaN,NaN
3140,SYNOVIS LIFE TECHNOLOGIESINC,NaN,NaN,NaN
1350,FARADAY TECHNOLOGY CORP. (¾ª¼Œ_Ù¤Ô¾_Û),NaN,NaN,NaN
3540,"Transcend Information, Inc. (Œäµ_Ü_à¬_)",NaN,NaN,NaN
1614,Global Unichip Corp. (Œäµ¾ãŽÝÈŒ_),NaN,NaN,NaN
3228,Silicon Integrated Systems Corp. (Ù_µ±¤Ô¾_Û),NaN,NaN,NaN
3759,WINBOND ELECTRONICS CORP.(øŽâ_ŽÝÈŒ_),NaN,NaN,NaN
304,Apacer Technology Inc. (Œ¨à_È¤Ô¾_Û),NaN,NaN,NaN
3897,foxsemicon integrated technology Inc. (Š¼ÂŽ__...,NaN,NaN,NaN
2402,NANYA TECHNOLOGY CORPORATION (ŒÑŠ¼_¤Ô¾_Û),NaN,NaN,NaN
0,"mktg, inc.'",NaN,NaN,NaN
3224,Silergy Corp. (Ù_Œ_Ý¾¡),NaN,NaN,NaN
2565,Nuvoton Technology Corporation (¾Ð¡ŒÓ¤Ô¾_Û),NaN,NaN,NaN
1177,ELAN MICROELECTRONICS CORP (_©Ž_ ŽÝÈŒ_),NaN,NaN,NaN

**It appears that the missing companies have non-English characters in their name. Since there are only 19 of these (although there should be 13 missing--there may be some duplicates?), I'll perform the matchings manually.**

In [7]:
# sanity check
right_only = outer_join.loc[outer_join._merge == 'right_only', [1, 'cik', 'companyName', 'stockSymbol']]
print("The shape of the right_only data is", right_only.shape)

The shape of the right_only data is (0, 4)

In [8]:
sec201718 = pd.read_csv('SEC_2017-18_new_companies_only.csv')
sec201718 = sec201718.rename(columns={'companyName_x': 'companyName', 'stockSymbol_x': 'stockSymbol'})
print("The shape of the 2017-18 new data is", sec201718.shape)
sec201718.sample(10)

The shape of the 2017-18 new data is (37, 3)

        cik                           companyName stockSymbol
2     92521        SOUTHWESTERN PUBLIC SERVICE CO         NaN
9   1039101       L 3 Communications Holdings Inc         lll
24  1716338        Pintec Technology Holdings Ltd          PT
6    899045              Lamar Advertising Co/New        lamr
34  1751876           Happiness Biotech Group Ltd        HAPP
23  1652044                         Alphabet Inc.        goog
30  1734520                     Alithya Group Inc         NaN
1     81018         PUBLIC SERVICE CO OF COLORADO         NaN
22  1624826  Momentive Performance Materials Inc.        mpmq
35  1753268                     Ruhnn Holding Ltd        RUHN

In [9]:
final = merged[['cik', 'companyName', 'stockSymbol']]
print("The shape of the final merged data (without manual checks, without 2017-18) is", final.shape)

final = final.append(sec201718, ignore_index=True)
print("The shape of the total new data (without manual checks) is", final.shape)

The shape of the final merged data (without manual checks, without 2017-18) is (3897, 3)
The shape of the total new data (without manual checks) is (3934, 3)

In [10]:
# getting the missing values
missing_manual_csv = pd.read_csv('missing_2016.csv')
print("The shape of the missing data is", missing_manual_csv.shape)
missing_manual_csv.sample(19)

The shape of the missing data is (19, 4)

,cik,companyName_ours,companyName_official,stockSymbol
5,2451,"Transcend Information, Inc. (Œäµ_Ü_à¬_)","Transcend Information, Inc. (創見資訊)",transcend
3,2337,"MACRONIX INTERNATIONAL CO., LTD. (¾Ñ¼Œ¨ŽÝÈŒ_)","MACRONIX INTERNATIONAL CO., LTD. (旺宏電子)",NaN
12,2351,SDI CORPORATION (ŽÊ Œ_áŒá´¾´_),SDI CORPORATION (順德工業),sdi
6,2458,ELAN MICROELECTRONICS CORP (_©Ž_ ŽÝÈŒ_),ELAN MICROELECTRONICS CORP (義隆電子),elan
4,3443,Global Unichip Corp. (Œäµ¾ãŽÝÈŒ_),Global Unichip Corp. (創意電子),NaN
17,886475,"mktg, inc.'","'mktg, inc.'",cmkg
10,6415,Silergy Corp. (Ù_Œ_Ý¾¡),Silergy Corp. (矽力杰),NaN
9,2379,Realtek Semiconductor Corp (Ô_¾÷±Œ_Œ¡_ŽÇÓ),Realtek Semiconductor Corp (瑞昱半導體),rt
15,8271,Apacer Technology Inc. (Œ¨à_È¤Ô¾_Û),Apacer Technology Inc. (宇瞻科技),NaN
18,2344,WINBOND ELECTRONICS CORP.(øŽâ_ŽÝÈŒ_),WINBOND ELECTRONICS CORP.(華邦電子),wec
14,3035,FARADAY TECHNOLOGY CORP. (¾ª¼Œ_Ù¤Ô¾_Û),FARADAY TECHNOLOGY CORP. (智原科技),faraday
16,2388,"VIA TECHNOLOGIES, INC. (Œ¬ÝÝŽÝÈŒ_)","VIA TECHNOLOGIES, INC. (威盛電子)",via
7,780127,SYNOVIS LIFE TECHNOLOGIESINC,SYNOVIS LIFE TECHNOLOGIES INC,NaN
11,2408,NANYA TECHNOLOGY CORPORATION (ŒÑŠ¼_¤Ô¾_Û),NANYA TECHNOLOGY CORPORATION (南亞科技),ntc
1,3413,foxsemicon integrated technology Inc. (Š¼ÂŽ__...,foxsemicon integrated technology Inc. (京鼎精密科技),NaN
2,4919,Nuvoton Technology Corporation (¾Ð¡ŒÓ¤Ô¾_Û),Nuvoton Technology Corporation (新唐科技),NaN
8,2454,MediaTek Inc. (øª_¤Ô¾_Û),MediaTek Inc. (聯發科技),mtk
13,3583,Scientech Corporation (_ÝÛ÷Š_¾´_),Scientech Corporation (辛耘企業),NaN
0,2363,Silicon Integrated Systems Corp. (Ù_µ±¤Ô¾_Û),Silicon Integrated Systems Corp. (矽統科技),sis

In [11]:
missing_manual_csv = missing_manual_csv[['cik', 'companyName_official', 'stockSymbol']]
missing_manual_csv = missing_manual_csv.rename(columns={'companyName_official': 'companyName'})
final = final.append(missing_manual_csv, ignore_index=True)
final = final.sort_values(by=['companyName'])
print("The shape of the final data is", final.shape)
final.sample(10)

The shape of the final data is (3953, 3)

             cik                  companyName stockSymbol
2596  0000873860         Ocwen Financial Corp         ocn
3607  0000101199        United Fire Group Inc        ufcs
2863  0001088033           QUEST SOFTWARE INC        qsft
3238  0001289863               SmartPros Ltd.        spro
3914     1414964       Resource America, Inc.        rexi
301   0001156039                 Anthem, Inc.        antm
2408  0000070793                     NBTY INC         nty
1132  0000715957  Dominion Resources Inc /VA/           d
3387  0001438133     TANDEM DIABETES CARE INC        tndm
795   0000018255                    Cato Corp        cato

In [12]:
final.to_csv('final_company_list_with_sec_info.csv', index=False)